<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    	<form action="/" method="POST" role="form">
    		<legend>Questions and Answers (Somali)</legend>
    	
    		<div class="form-group">
    			<label for="">Category</label>
    			<input type="text" class="form-control" id="" required placeholder="Input field" name="category">
    			<input type="text" class="form-control" id="" placeholder="category ID" name="categoryID" disabled value="<%= data.categoryId %>">
    			<label for="">Question</label>
    			<input type="text" class="form-control" id="" required placeholder="Input field" name="question">
    			<input type="text" class="form-control" id="" placeholder="fatwaID" name="fatwaID" disabled value="<%= data.id %>">
    			<label for="">Answer</label>
    			<textarea class="form-control" rows="3" required name="answer"></textarea>
    		</div>
    		<button type="submit" class="btn btn-primary">Submit</button>
    	</form>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	<legend>Questions and Answers (Arabic)</legend>
        <label for="">Category:</label>
            <span><%= category.name %></span>
            <br>
    	<label for="">Question:</label>
    		<span><%= data.question %></span>
            <br>
            <label for="">Answer:</label>
    			<p>
    		<%= data.answer %>
    	</p>
</div>

